---
- name: Configure system and dotfiles
  hosts: localhost
  gather_facts: yes
  tasks:
    - name: Configure AWS
      include_tasks: tasks/aws.yml
      tags:
        - aws

    - name: Configure Azure
      include_tasks: tasks/azure.yml
      tags:
        - azure

    - name: Configure Fish shell
      include_tasks: tasks/fish.yml
      tags:
        - fish

    - name: Configure GCP
      include_tasks: tasks/gcp.yml
      tags:
        - gcp

    - name: Configure Git
      include_tasks: tasks/git.yml
      tags:
        - git

    - name: Configure Kubernetes
      include_tasks: tasks/kubernetes.yml
      tags:
        - kubernetes

    - name: Install and configure LazyGit
      include_tasks: tasks/lazygit.yml
      tags:
        - lazygit

    - name: Configure Neovim
      include_tasks: tasks/nvim.yml
      tags:
        - nvim

    - name: Install packages
      include_tasks: tasks/packages.yml
      tags:
        - packages

    - name: Install and configure Pants
      include_tasks: tasks/pants.yml
      tags:
        - pants

    - name: Configure Python
      include_tasks: tasks/python.yml
      tags:
        - python

    - name: Configure SSH
      include_tasks: tasks/ssh.yml
      tags:
        - ssh

    - name: Configure Tmux
      include_tasks: tasks/tmux.yml
      tags:
        - tmux

    - name: Install and configure Visual Studio Code
      include_tasks: tasks/vscode.yml
      tags:
        - vscode

    - name: Install and configure Zoxide
      include_tasks: tasks/zoxide.yml
      tags:
        - zoxide
