---
- name: Configure system and dotfiles
  hosts: localhost
  gather_facts: yes
  tasks:
    - name: Include macOS tasks
      include_tasks: tasks/macos.yml
      when: ansible_facts['os_family'] == 'Darwin'
      tags:
        - macos
        - brew
        - cask
    - name: Include Dotfiles tasks
      include_tasks: tasks/dotfiles.yml

    - name: Configure Fish shell
      include_tasks: tasks/fish.yml
      tags:
        - fish

    - name: Configure Git
      include_tasks: tasks/git.yml
      tags:
        - git

    - name: Include Ubuntu tasks
      include_tasks: tasks/ubuntu.yml
      when: ansible_facts['os_family'] == 'Debian'
      tags:
        - nvim

    - name: Include Dotfiles tasks
      include_tasks: tasks/dotfiles.yml


    - name: Configure Tmux
      include_tasks: tasks/tmux.yml
      tags:
        - tmux

    - name: Include VS Code tasks
      include_tasks: tasks/vscode.yml
      when: ansible_facts['os_family'] == 'Debian'
      tags:
        - vscode
        - extensions
        - install
