---

- name: Download AWS CLI v2 installer
  become: true
  get_url:
    url: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
    dest: "/tmp/awscliv2.zip"
    mode: "0644"
  when: ansible_facts['os_family'] == 'Debian'

- name: Unzip AWS CLI v2 installer
  become: true
  unarchive:
    src: "/tmp/awscliv2.zip"
    dest: "/tmp/"
    remote_src: yes
    creates: "/tmp/aws"
  when: ansible_facts['os_family'] == 'Debian'

- name: Install AWS CLI v2
  become: true
  shell: "/tmp/aws/install --update"
  args:
    creates: "/usr/local/bin/aws"
  when: ansible_facts['os_family'] == 'Debian'

- name: Verify AWS CLI installation
  command: "aws --version"
  register: awscli_version_output
  changed_when: false
  when: ansible_facts['os_family'] == 'Debian'

- name: Display installed AWS CLI version
  debug:
    msg: "AWS CLI version installed: {{ awscli_version_output.stdout }}"

- name: Clean up temporary files
  become: true
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/tmp/awscliv2.zip"
    - "/tmp/aws"
  when: ansible_facts['os_family'] == 'Debian'

- name: Install AWS CLI v2 using Homebrew
  homebrew:
    name: awscli
    state: present
  when: ansible_facts['os_family'] == 'Darwin'

- name: Verify AWS CLI installation on macOS
  command: "aws --version"
  register: awscli_version_output_macos
  changed_when: false
  when: ansible_facts['os_family'] == 'Darwin'

- name: Display installed AWS CLI version on macOS
  debug:
    msg: "AWS CLI version installed on macOS: {{ awscli_version_output_macos.stdout }}"
  when: ansible_facts['os_family'] == 'Darwin'
