---
- name: Configure Fish
  import_role:
    name: config_linker
  vars:
    source: "{{ ansible_env.PWD }}/config/fish"
    destination: "{{ ansible_env.HOME }}/.config/fish"
  tags:
    - fish
    - config

- name: Add Fish shell to /etc/shells
  become: yes
  lineinfile:
    path: /etc/shells
    line: /usr/bin/fish
    state: present
  tags:
    - fish
    - shell
    - config
    - sudo
  when: ansible_facts['os_family'] == 'Debian'

- name: Set Fish as default shell
  become: yes
  user:
    name: "{{ ansible_env.USER }}"
    shell: /usr/bin/fish
  tags:
    - fish
    - shell
    - config
    - sudo
  when: ansible_facts['os_family'] == 'Debian'

- name: Add Fish shell to /etc/shells
  become: yes
  lineinfile:
    path: /etc/shells
    line: /opt/homebrew/bin/fish
    state: present
  tags:
    - fish
    - shell
    - config
    - sudo
  when: ansible_facts['os_family'] == 'Darwin'

- name: Set Fish as default shell
  become: yes
  user:
    name: "{{ ansible_env.USER }}"
    shell: /opt/homebrew/bin/fish
  tags:
    - fish
    - shell
    - config
    - sudo
  when: ansible_facts['os_family'] == 'Darwin'

- name: Install Fish shell on macOS
  homebrew:
    name: fish
    state: present
  tags:
    - fish
    - shell
    - brew
    - macos
  when: ansible_facts['os_family'] == 'Darwin'
